.jumbotron
  .container
    %h1 Project Alexandria (BETA)
    %h2 Keeping History Honest
.container#demos
  .row
    .col-md-4
      %p
        = link_to 'proof-of-ownership demo »', welcome_brainwallet_path, class: 'btn btn-primary btn-lg'
    .col-md-4
      %p
        = link_to 'User Auth Twitter demo »', auth_twitter_path, class: 'btn btn-primary btn-lg'
    .col-md-4
      %p
        = link_to 'Application only Twitter demo »', sessions_application_only_path, class: 'btn btn-primary btn-lg'
