.jumbotron
  .container
    %h1 Project Alexandria (BETA)
    %h2 Keeping History Honest
.container#archives
  .row
    .col-md-6
      %p= link_to 'Create a new archive »', new_archive_path, class: 'btn btn-success btn-lg'
    .col-md-6
      /%p= link_to 'All Archives »', archives_path, class: 'btn btn-primary btn-lg'
