development:
  RAILS_SECRET_TOKEN: ''
stage:
  RAILS_SECRET_TOKEN: ''
  NEW_RELIC_APP_NAME: ''
  TWITTER_API_KEY: ''
  TWITTER_API_SECRET: ''
  TWITTER_ACCESS_TOKEN: ''
  TWITTER_ACCESS_TOKEN_SECRET: ''
production:
  RAILS_SECRET_TOKEN: ''
  NEW_RELIC_APP_NAME: ''
