%li
  .row
    .col-md-2
      = image_tag 'rails.png'
    .col-md-10
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
      %p= link_to 'http://example.com', 'http://example.com' 
