.container
  .row
    .col-lg-12#canvas_data{:'data-word-count' => @word_count_array}
      %canvas#my_canvas
  .row#popular
    .col-md-6
      %h4.thin Most Popular Links
    .col-md-6
      %h4.thin Most Popular Videos
  .row
    .col-md-6
      %ul#records
        - 3.times do |link|
          = render 'popular_link'
    .col-md-6
      %ul#records
        %li
          two
        %li
          two
        %li
          two
