body#body {
  background: #5ec1f0;
  font-family: helvetica;
  font-weight: 200;
  color: #fff;

  .jumbotron {
    background: inherit;
    color: #fff;
  }

  .navbar {
    background: inherit;
    border: none;
    color: #fff;

    .navbar-header {
      width: 100%;
      margin-top: 15px;

      > .row {
        font-weight: bold;
        margin-bottom: 10px;

        .thin {
          font-weight: 200;
        }
        .col-md-6:first-child {
          text-align: left;
        }

        .col-md-6:nth-child(2){
          text-align: right;
        }
      }

      > .row:first-child {
        font-size: 2em;
      }

      > .row:nth-child(2), > .row:nth-child(3){
        font-size: 1.5em;
      }
    }
  }
  
  #demos {
    a:visited {
      color: #fff;
    }
  }
  
  #records {
    ul {
      padding-left: 0;

      li {
        list-style-type: none;
        margin: 10px 0;
      }
    }
  }

  #my_canvas {
    width: 1000px;
    height: 400px;
  }

  #popular {
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: #fff;
  }
}
